<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>DoubleSlider component</title>
  <link rel="stylesheet" href="style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<main>
  <div class="wrapper">
    <!-- DoubleSlider component -->
    <div class="ranger-slider">
      <span class="from">0 UAH</span>
      <div class="box-range-slider-inner">
        <span class="range-slider-inner"></span>
        <span class="img-tumb-left"><img src="../01-css-task/img/range-thumb-icon.a4dd7a38.svg" alt="slider"> </span>
        <span class="img-tumb-right"><img src="../01-css-task/img/range-thumb-icon.a4dd7a38.svg" alt="slider"> </span>
      </div>
      <span class="to">85000 UAH</span>
    </div>
    
  </div>
</main>
</body>
</html>
