<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FiltersList component</title>
  <link rel="stylesheet" href="style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<main>
  <div class="wrapper">
    <!-- FiltersList component -->
    <div class="categories-filter">
      <ul class="categories-filter-list"><h3>Category</h3>
        <li class="categories-filter-list-li">
          <div class="categories-filter-checkbox">
          </div> Monitors
        </li>
        <li class="categories-filter-list-li">
          <div class="categories-filter-checkbox">
          </div> Laptops
        </li>
        <li class="categories-filter-list-li">
          <div class="categories-filter-checkbox">
          </div> Video cards
        </li>
        <li class="categories-filter-list-li">
          <div class="categories-filter-checkbox">
          </div> Gaiming keyboards
        </li>
        <li class="categories-filter-list-li">
          <div class="categories-filter-checkbox">
          </div> Computer mouse
        </li>
        <li class="categories-filter-list-li">
          <div class="categories-filter-checkbox">
          </div> SSD
        </li>
        <li class="categories-filter-list-li">
          <div class="categories-filter-checkbox">
          </div> Sound cards
        </li>
        <li class="categories-filter-list-li">
          <div class="categories-filter-checkbox">
          </div> RAM
        </li>
      </ul>
    </div>
  
    <div class="categories-brands">
      <ul class="categories-brands-list"><h3>Brands</h3>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> Asus
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> Acer
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> Apple
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> Dell
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> Dynamode
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> Gygabyte
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> Kingston
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> Lenovo
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> Logitech
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> MSI
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> BenQ
        </li>
        <li class="categories-brands-list-li">
          <div class="categories-brands-checkbox">
          </div> A4Tech
        </li>
      </ul>
    </div>
  </div>
</main>
</body>
</html>
