<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Cart component</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<main>
  <div class="cart-modal" id="root">
    <!-- Cart component -->
    <div class="cart-cart">
      <div class="cart-close">
        <i class="bi bi-x-lg"></i>
      </div>
      <ul class="cart-list">
        <li>
          <div class="cart">
            <div><img src="../../card/01-css-task/card-img/img.png" alt="foto"></div>
            <div class="cart-about"><p>Ноутбук Acer Aspire 7 A715-75G-51ZW (NH.Q88EU.00P) Charcoal Black</p></div>
            <div class="cart-amount">
              <button class="button-cart">
                <i class="bi bi-dash-circle"></i>
              </button>
              <span>1</span>
              <button class="button-cart">
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
            <div class="cart-summ">15999</div>
          </div>
        </li>
        <li>
          <div class="cart">
            <div><img src="../../card/01-css-task/card-img/img.png" alt="foto"></div>
            <div class="cart-about"><p>Ноутбук Acer Aspire 7 A715-75G-51ZW (NH.Q88EU.00P) Charcoal Black</p></div>
            <div class="cart-amount">
              <button class="button-cart">
                <i class="bi bi-dash-circle"></i>
              </button>
              <span>1</span>
              <button class="button-cart">
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
            <div class="cart-summ">15999</div>
          </div>
        </li>
        <li>
          <div class="cart">
            <div><img src="../../card/01-css-task/card-img/img.png" alt="foto"></div>
            <div class="cart-about"><p>Ноутбук Acer Aspire 7 A715-75G-51ZW (NH.Q88EU.00P) Charcoal Black</p></div>
            <div class="cart-amount">
              <button class="button-cart">
                <i class="bi bi-dash-circle"></i>
              </button>
              <span>1</span>
              <button class="button-cart">
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
            <div class="cart-summ">15999</div>
          </div>
        </li>
        <li>
          <div class="cart">
            <div><img src="../../card/01-css-task/card-img/img.png" alt="foto"></div>
            <div class="cart-about"><p>Ноутбук Acer Aspire 7 A715-75G-51ZW (NH.Q88EU.00P) Charcoal Black</p></div>
            <div class="cart-amount">
              <button class="button-cart">
                <i class="bi bi-dash-circle"></i>
              </button>
              <span>1</span>
              <button class="button-cart">
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
            <div class="cart-summ">15999</div>
          </div>
        </li>
        <li>
          <div class="cart">
            <div><img src="../../card/01-css-task/card-img/img.png" alt="foto"></div>
            <div class="cart-about"><p>Ноутбук Acer Aspire 7 A715-75G-51ZW (NH.Q88EU.00P) Charcoal Black</p></div>
            <div class="cart-amount">
              <button class="button-cart">
                <i class="bi bi-dash-circle"></i>
              </button>
              <span>1</span>
              <button class="button-cart">
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>
            <div class="cart-summ">15999</div>
          </div>
        </li>
      </ul>
      <div class="cart-total">
        <div>
          <p>Total: 15999</p>
        </div>
        <button class="cart-order">ORDER</button>
      </div>
    </div>
    
  </div>
</main>


</body>
</html>
